# 자료구조란

-   **여러 개의 값들을 모아서 관리**하는 데이터 타입.
    -   한 개의 변수는 한 개의 값 밖에는 가지지 못한다. 그러나 하나의 변수로 여러 개의 값 관리해야 할 경우가 있다.
    -   하나의 값이 여러개의 값들로 구성된 경우
        -   한명의 고객 정보의 경우 이름, 나이, 주소, 전화번호 등 여러개의 값이 모여서 하나의 값이 된다.
        -   한 반의 학생들의 이름들은 여러개의 이름들로 구성된다.
-   파이썬은 데이터를 모으는 방식에 따라 다음과 같이 4개의 타입을 제공한다.
    -   **List:** 순서가 있으며 중복된 값들을 모으는 것을 허용하고 구성하는 값들(원소)을 변경할 수 있다.
    -   **Tuple:** 순서가 있으며 중복된 값들을 모으는 것을 허용하는데 구성하는 값들을 변경할 수 없다.
    -   **Dictionary:** key-value 형태로 값들을 저장해 관리한다.
    -   **Set:** 중복을 허용하지 않고 값들의 순서가 없다.
-   **원소, 성분, 요소, element**
    -   자료구조의 값들을 구성하는 개별 값들을 말한다.
    -   len(자료구조) 함수
        -   자료구조 내의 원소의 개수를 반환한다.

# List (리스트)

-   값들을 순서대로 모아서 관리하는 자료구조. 원소(element)들을 순번을 이용해 식별한다.
    -   각각의 원소가 어떤 값인지를 index(순번)을 가지고 식별하기 때문에 **순서가 있고 그 순서가 매우 중요하다.** 즉 같은 값에 대해 순서가 바뀌면 안된다.
-   각각의 원소들은 index를 이용해 식별한다.
    -   index는 문자열과 마찮가지로 양수 index와 음수 index 두개가 각 값에 생긴다.
    -   양수 index는 앞에서부터 음수 index는 뒤에서 부터 값을 식별할 때 사용하는 것이 편리하다.
    -   **index를 가지고 각 원소값의 의미를 식별할 수 있으면 List나 Tuple을 사용한다.**
-   중복된 값들을 저장할 수 있다.
-   각 원소들의 데이터 타입은 달라도 상관없다.
    -   보통은 같은 타입의 데이터를 모은다.
-   리스트를 구성하는 **원소들을 변경할 수 있다.** (추가, 삭제, 변경이 가능)
    -   원소 변경 여부가 List와 Tuple의 차이이다.

## List 생성 구문

```python
[값, 값, 값, ..]
```

In [1]:
l1 = [10, 20, 30, 40, 50]

In [4]:
print(type(l1))
type(l1) == list

<class 'list'>

True

In [5]:
person1 = ["이순신", 30, "서울", 180.56, 79.21, "O형", "010-0000-0000", True]
person1

['이순신', 30, '서울', 180.56, 79.21, 'O형', '010-0000-0000', True]

In [6]:
l2 = [100, 200, [300, 400], [500,[600, 700]]]
#  list안에 원소로 list, 박스 안에 박스

## Indexing과 Slicing을 이용한 원소(element) 조회 및 변경

### Indexing

-   하나의 원소를 조회하거나 변경할 때 사용
-   리스트\[index\]
    -   index의 원소를 조회
-   리스트\[index\] = 값
    -   index의 원소를 변경

### Slicing

-   범위로 조회하거나 그 범위의 값들을 변경한다.
-   기본구문: **리스트\[ 시작 index : 종료 index : 간격\]**
    -   시작 index ~ (종료 index – 1)
    -   간격을 지정하면 간격만큼 index를 증/감한다. (생략 시 1이 기본 간격)
-   **0번 index 부터 조회 할 경우 시작 index는 생략가능**
    -   리스트 \[ : 5\] => 0 ~ 4 까지 조회
-   **마지막 index까지 (끝까지) 조회 할 경우 종료 index는 생략 가능**
    -   리스트\[2 : \] => 2번 index 에서 끝까지
-   **명시적으로 간격을 줄 경우**
    -   리스트\[ : : 3 \] => 0, 3, 6, 9.. index의 값 조회
    -   리스트\[1 : 9 : 2\] => 1, 3, 5, 7 index의 값 조회
-   **시작 index > 종료 index, 간격을 음수로 하면 역으로 반환한다.(Reverse)**
    -   리스트\[5: 1: -1\] => 5, 4, 3, 2 index의 값 조회
    -   리스트\[: : -1\] => 마지막 index ~ 0번 index 까지 의미. Reverse 한다.

#### slicing을 이용한 값 변경

-   slicing 을 이용할 경우 slicing된 원소 개수와 동일한 개수의 값들을 대입한다.
    -   `리스트[1:5] = 10,20,30,40` : index 1, 2, 3, 4의 값을 각각 10, 20, 30, 40 으로 변경

In [37]:
l = [0,1,2,3,4,5,6,7,8,9]
print(l)
l[0]=10000
print(l)
l[-1]=-10000
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[10000, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[10000, 1, 2, 3, 4, 5, 6, 7, 8, -10000]

In [38]:
# Slicing
print(l)
print(l[0:8])
l[0:2]= 1,2
print(l[0:4])
print(l[0:8:3])
print(l[8:0:-1])
print(l[8::-1])

[10000, 1, 2, 3, 4, 5, 6, 7, 8, -10000]
[10000, 1, 2, 3, 4, 5, 6, 7]
[1, 2, 2, 3]
[1, 3, 6]
[8, 7, 6, 5, 4, 3, 2, 2]
[8, 7, 6, 5, 4, 3, 2, 2, 1]

## List 연산자

-   **리스트 + 리스트**
    -   두 리스트의 원소들을 합친 리스트를 반환한다.
-   **리스트 \* 정수**
    -   같은 리스트의 원소들을 정수번 합친 리스트를 반환한다.
-   **in, not in 연산자**
    -   값 in 리스트
        -   리스트의 원소로 값이 **있으면** True, 없으면 False 반환
    -   값 not in 리스트
        -   리스트의 원소로 값이 **없으면** True, 있으면 False 반환
-   **len(리스트)**
    -   리스트 내의 원소수를 반환.

## 중첩 리스트 (Nested List)

-   List가 원소로 List를 가지는 것을 말한다.
    -   List를 포함한 모든 자료구조 타입들도 다 값이므로 다른 자료구조의 원소로 들어갈 수 있다.

## List 주요 메소드

| 메소드                       | 설명                                                                                 |
| :--------------------------- | ------------------------------------------------------------------------------------ |
| append(value)                | value를 추가한다.                                                                    |
| extend(List)                 | List의 원소들을 추가한다.                                                            |
| sort(\[reverse=False\])      | 원소들을 오름차순 정렬한다. reverse=True로 하면 내림차순정렬 한다.                   |
| insert(index, 삽입할값)      | 지정한 index에 '삽입할값'을 삽입한다.                                                |
| remove(삭제할값)             | '삭제할값' 값과 같은 원소를 삭제한다.                                                |
| index(찾을값\[, 시작index\]) | '찾을값'의 index를 반환한다.                                                         |
| pop(\[index\])               | index의 값을 반환하면서 삭제한다. index 생략하면 가장 마지막 값을 반환하며 삭제한다. |
| count(값)                    | '값'이 리스트의 원소로 몇개 있는지 반환한다.                                         |
| clear()                      | 리스트 안의 모든 원소들을 삭제한다.                                                  |

In [82]:
l = [10, 20 ,30]
l.append(100) #한 개씩 추가할 때 사용
l

[10, 20, 30, 100]

In [83]:
l.extend([150, 200, 300]) #여러 개 추가, list로 묶어줘야함
l

[10, 20, 30, 100, 150, 200, 300]

In [84]:
l.insert(2,5000) #지정한 index 자리에 삽입, 변경 X
l

[10, 20, 5000, 30, 100, 150, 200, 300]

In [85]:
# 정렬 - sorted() func : 모든 자료구조를 받아서 정렬한 결과를 list로 반환 (원본 정리 X)
# (list).sort() method : list 자체를 정리
print(l)
result = sorted(l)
print(result)
print(l)
l.sort(reverse = False)
print(l)

[10, 20, 5000, 30, 100, 150, 200, 300]
[10, 20, 30, 100, 150, 200, 300, 5000]
[10, 20, 5000, 30, 100, 150, 200, 300]
[10, 20, 30, 100, 150, 200, 300, 5000]

In [86]:
l.remove(5000) #삭제
l

[10, 20, 30, 100, 150, 200, 300]

# Tuple (튜플)

-   List와 같이 순서대로 원소들을 관리한다. 단 저장된 원소를 변경할 수 없다.
-   Tuple 은 각 위치(Index) 마다 정해진 의미가 있고 그 값이 한번 설정되면 바뀌지 않는 경우에 사용한다.
    -   Tuple은 값의 변경되지 않으므로 안전하다.

## Tuple 생성

-   `(value, value, value, ...)`
-   소괄호를 생략할 수 있다.
-   원소가 하나인 Tuple 표현식
    -   `(value,)` 또는 `value,`
        -   값 뒤에 `,` 를 붙여준다. `,`를 붙이지 않으면 ( )가 연산자 우선순위 괄호가 된다.

In [96]:
t1 = (10, 20, 30)
t2 = 10, 20, 30
print(t1)
print(t2)

(10, 20, 30)
(10, 20, 30)

In [92]:
t3 = 100,
t4 = (100,)
print(type(t3))
print(type(t4))

<class 'tuple'>
<class 'tuple'>

## Indexing과 Slicing을 이용한 원소(element) 조회

-   리스트와 동일하다.
-   단 튜플은 조회만 가능하고 원소를 변경할 수 없다.

In [101]:
t5 = 10,20,30
t5[1]

20

In [102]:
t5[1]= 100

TypeError: 'tuple' object does not support item assignment

## Tuple 연산자

-   **tuple + tuple**
    -   두 tuple의 원소들을 합친 tuple을 반환한다.
-   **tuple \* 정수**
    -   같은 tuple의 원소들을 정수번 합친 tuple를 반환한다.
-   **in, not in 연산자**
    -   값 in tuple
        -   tuple의 원소로 값이 **있으면** True, 없으면 False 반환
    -   값 not in tuple
        -   tuple의 원소로 값이 **없으면** True, 있으면 False 반환
-   **len(tuple)**
    -   tuple의 원소 개수 반환

In [105]:
t6 = t1 + t2
print(t6)
t7 = t6 * 2
print(t7)
10 in t7
15 in t7
len(t7)

(10, 20, 30, 10, 20, 30)
(10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30)

12

## Tuple의 주요 메소드

| 메소드                        | 설명                                |
| :---------------------------- | ----------------------------------- |
| index(찾을값 \[, 시작index\]) | '찾을값'이 몇번 index인지 반환한다. |
| count(값)                     | 원소로 '값'이 몇개 있는지 반환한다. |

In [120]:
t8 = (100, 2, 300, 400, 100, 20, 500)
print(t8.index(100))
print(t8.index(100,1))
print(t8[::-1].index(100))

0
4
2

In [113]:
t8.count(100)

2

# Dictionary

-   값을 키(key)-값(value) 쌍으로 묶어서 저장하는 자료구조이다.
    -   리스트나 튜플의 index의 역할을 하는 key를 직접 지정한다.
    -   서로 의미가 다른 값들을 하나로 묶을 때 그 값의 의미를 key로 가질 수 있는 dictionary를 사용한다.
        -   cf) 값의 의미가 같을 경우 List나 Tuple을 사용한다.
    -   key-value 쌍으로 묶은 데이터 한개를 **item 또는 entry**라고 한다.
    -   key는 중복을 허용하지 않고 value는 중복을 허용한다.

## Dictionary 생성

-   구문
    1. `{ 키 : 값, 키 : 값, 키 : 값 }`
    2. dict(key=value, key=value) 함수 이용
    -   키(key)는 불변(Immutable)의 값들만 사용 가능하다. (숫자, 문자열, 튜플) 일반적으로 문자열을 사용한다.
    -   dict() 함수를 사용할 경우 key는 변수로 정의한다

In [135]:
d1 = {"이름" : "홍길동", "나이" : 20, "결혼여부" : False}
d1

{'이름': '홍길동', '나이': 20, '결혼여부': False}

In [132]:
d2 = {"이름" : "홍길동", 
      "나이" : 20,
      "결혼여부" : False,
      "취미" : ["영화/음악 감상", "독서"],
      "주소" : { "시" : "서울시", "구" : "금천구"}}
d2

{'이름': '홍길동',
 '나이': 20,
 '결혼여부': False,
 '취미': ['영화/음악 감상', '독서'],
 '주소': {'시': '서울시', '구': '금천구'}}

In [133]:
d3 = dict(이름 = "홍길동", 나이 = 30, 주소 = "서울시 금천구", 취미= ["게임", "야구"])
d3

{'이름': '홍길동', '나이': 30, '주소': '서울시 금천구', '취미': ['게임', '야구']}

## Dictionary 원소 조회 및 변경

-   조회: index에 key값을 식별자로 지정한다.
    -   dictionary\[ key \]
    -   없는 키로 조회 시 KeyError 발생
-   변경
    -   dictionary\[ key \] = 값
    -   있는 key값에 값을 대입하면 변경이고 없는 key 일 경우는 새로운 item을 추가하는 것이다.

In [190]:
d1 = {"이름" : "홍길동", "나이" : 20, "결혼여부" : False}
print(d1["이름"])
d1["이름"]= "우민규"
print(d1["이름"])
d1["취미"] = "독서"
d1

홍길동
우민규

{'이름': '우민규', '나이': 20, '결혼여부': False, '취미': '독서'}

## Dictionary 연산자

-   **in, not in 연산자**
    -   값 in dictionary
        -   dictionary의 **Key**로 값이 **있으면** True, 없으면 False 반환
    -   값 not in dictionary
        -   dictionary의 **Key**로 값이 **없으면** True, 있으면 False 반환
-   **len(dictionary)**
    -   dictionary의 **Item의 개수** 반환

In [150]:
"이름" in d1 #key가 있는지 여부

True

In [151]:
"우민규" in d1

False

In [152]:
len(d1)

3

## Dictionary 주요 메소드

| 메소드               | 설명                                                                               |
| :------------------- | ---------------------------------------------------------------------------------- |
| get(key\[, 기본값\]) | key의 item의 값을 반환한다. 단 key가 없을 경우 None또는 기본값을 반환한다.         |
| pop(key)             | key의 item의 값을 반환하면서 dictionary에서 삭제한다. 없는 key일 경우 KeyError발생 |
| clear()              | dictionary의 모든 item들을 삭제한다.                                               |
| del dict\[key\]      | key의 item을 제거한다.                                                             |
| items()              | item의 key, value를 튜플로 묶어 모아 반환한다.                                     |
| keys()               | key값들만 모아 반환한다.                                                           |
| values()             | value값들만 모아 반환한다.                                                         |

In [153]:
d1.get("이름") # key로 value 조회

'우민규'

In [160]:
r=d1.get("키") # 없는 key 값이니 None
r if r != None else "없는 키"

'없는 키'

In [199]:
"없는 키" if r == None else r

'없는 키'

In [167]:
d1.get("몸무게", "0kg") # key가 없으면 지정한 기본값(0kg)를 반환

'0kg'

In [179]:
print(d1.pop("취미"))
print(d1)

독서
{'이름': '우민규', '나이': 20, '결혼여부': False}

In [192]:
d1.clear()
d1

{}

In [204]:
d1 = {"이름" : "홍길동", "나이" : 20, "결혼여부" : False}
del dict["이름"]

TypeError: 'type' object does not support item deletion

# Set

-   Set은 중복되는 값을 허용하지 않고 순서를 신경 쓰지 않는다.
    -   원소를 식별할 수 있는 식별자가 없기 때문에 Set은 indexing과 slicing을 지원하지 않는다

## Set 생성

-   구문
    -   {값, 값, 값 }

> -   빈 Dictionary 만들기
>     -   info = {}
>     -   중괄호만 사용하면 빈 set이 아니라 빈 dictionary를 생성하는 것임.

In [286]:
s1 = {1,2,3,4,5,6}
s1

{1, 2, 3, 4, 5, 6}

In [287]:
s2 = {1,1,1,1,2,2,2,3,3,3,3,4,5,5,5,6}
s2

{1, 2, 3, 4, 5, 6}

In [288]:
s1[0]
# TypeError : 'set' object is not subscriptable

TypeError: 'set' object is not subscriptable

In [289]:
for v in s1:
    print(v)

1
2
3
4
5
6

## Set 연산자

-   **in, not in 연산자**
    -   값 in Set
        -   Set의 원소로 값이 **있으면** True, 없으면 False 반환
    -   값 not in Set
        -   Set의 원소로 값이 **없으면** True, 있으면 False 반환
-   **len(Set)**
    -   Set의 **원소의 개수** 반환
-   **[집합연산자](#Set의-집합연산-연산자-및-메소드)**

In [290]:
5 in s1

True

In [291]:
len(s1)

6

## Set의 주요 메소드

| 메소드           | 설명                                   |
| ---------------- | -------------------------------------- |
| add(값)          | 집합에 값 추가                         |
| update(자료구조) | 자료구조내의 원소들을 모두 집합에 추가 |
| pop()            | 원소를 반환하고 Set에서 삭제한다.      |
| remove(값)       | 값을 찾아서 Set에서 삭제한다.          |

In [237]:
s1 = {1,2,3,4,5,6}
s1.add(200)
s1

{1, 2, 3, 4, 5, 6, 200}

In [238]:
s1.add(3)
s1

{1, 2, 3, 4, 5, 6, 200}

In [239]:
s1.update([200,300,400])
s1

{1, 2, 3, 4, 5, 6, 200, 300, 400}

In [241]:
s1.pop()

1

In [242]:
s1

{2, 3, 4, 5, 6, 300, 400}

In [240]:
s1.remove(200)
s1

{1, 2, 3, 4, 5, 6, 300, 400}

In [243]:
s1.clear()
s1

set()

In [245]:
type({}), type(set()) # 결과 ->괄호 생략된 tuple

(dict, set)

## Set의 집합연산 연산자 및 메소드

-   합집합
    -   집합A | 집합B
    -   집합A.union(집합B)
-   교집합
    -   집합A & 집합B
    -   집합A.intersection(집합B)
-   차집합
    -   집합A - 집합B
    -   집합A.difference(집합B)

In [250]:
s1 = {1, 2, 3, 4}
s2 = {3, 4, 5, 6}

In [251]:
s1.union(s2)

{1, 2, 3, 4, 5, 6}

In [252]:
s1.intersection(s2)

{3, 4}

In [253]:
s1.difference(s2)

{1, 2}

# 자료구조를 이용한 대입

-   리스트, 튜플, 셋의 원소들을 개별 변수에 대입한다. 어느 자료구조에 적용하느냐에 따라 **리스트 대입, 튜플 대입, 셋 대입** 이라고 한다. 이중 리스트대입이나 튜플대입은 많이 사용된다.
-   변수의 개수와 리스트 원소의 개수는 동일해야 한다.

In [254]:
l1 = [10, 20, 30]

In [258]:
x1, x2, x3 = l1
x1, x2, x3

(10, 20, 30)

# 자료구조 변환 함수

-   **list(자료구조)**
    -   대상 자료구조/Iterable을 List로 변환한다.
-   **tuple(자료구조)**
    -   대상 자료구조/Iterable을 Tuple로 변환
-   **set(자료구조)**
    -   대상 자료구조/Iterable을 Set으로 변환
    -   다른 자료구조의 원소 중 중복을 빼고 조회할 때 set()를 이용해 Set으로 변환한다.
-   Dictionary로 변환하는 함수는 없다.
    -   dict(key=value, ..) 는 딕셔너리 생성하는 함수이다.
-   변경 대상이 Dictionary 일 경우에는 key값들만 모아서 변환한다.

> -   **Iterable**
>     -   반복가능한 객체.
>     -   여러개의 값을 요청을 받을 때마다 하나씩 제공해주는 타입을 iterable 이라고 함.
>         -   Iterable이 제공하는 값을 반복문을 이용해 조회할 경우 **for in문**을 사용한다.
>     -   대표적으로 자료구조, 문자열 등이 있다.

In [273]:
l =[1, 2, 3, 4, 5, 6]
print(type(l))

<class 'list'>

In [274]:
for v in l:
    print(v)

1
2
3
4
5
6

In [262]:
t = tuple(l) 
t, type(t)

((1, 2, 3, 4, 5, 6), tuple)

In [264]:
s = set(t)
s, type(s)

({1, 2, 3, 4, 5, 6}, set)

In [265]:
l1 = list(s)
l1, type(l1)

([1, 2, 3, 4, 5, 6], list)

In [268]:
l = [1,2,3,2,1,1,2,6,7,100]
l_unique = set(l)
l_unique2 = list(l_unique)
l_unique, l_unique2

({1, 2, 3, 6, 7, 100}, [1, 2, 3, 100, 6, 7])

In [269]:
d = {"이름" : "홍길동", "나이" : 20, "주소" : "서울"}
list(d)

['이름', '나이', '주소']

In [270]:
set(d)

{'나이', '이름', '주소'}

In [271]:
tuple(d)

('이름', '나이', '주소')

In [275]:
for v in"abcdef":
    print(v)

a
b
c
d
e
f

In [276]:
list("abcdefg")

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [277]:
tuple("가나다라마바사")

('가', '나', '다', '라', '마', '바', '사')

In [279]:
set("하이하이하이입니다")

{'니', '다', '이', '입', '하'}

In [282]:
s = "abcdefg"
l = list(s)
l

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [283]:
# 자료구조의 문자열들을 한 문자열로 합치기
## "구분자".join(합칠대상_iterable)
"".join(l)

'abcdefg'

In [284]:
", ".join(l)

'a, b, c, d, e, f, g'

# TODO

In [ ]:
# 문제 1 ~ 7
jumsu = [100, 90, 100, 80, 70, 100, 80, 90, 95, 85]
# 위 리스트는 학생번호 1번 ~ 10번까지 10명의 시험 점수이다.

# (1)  7번의 점수를 출력하세요


# (2)  1번부터 5번까지의 점수를 출력하세요.


# (3)  4, 5, 6, 7번의 점수를 출력하세요.


# (4) 짝수번째 점수를 출력하세요.


# (5) 홀수번째 점수를 출력하세요.


# (6) 9번의 점수를 20으로 변경하고 전체 출력하세요.


# (7) 중복된 점수는 제거하고 하나씩만 나오도록 출력하세요.


# 문제 8 ~ 9
fruits = ["복숭아", "수박", "딸기"]

# (8) fruits 리스트에 마지막 원소로 "사과", "귤"을 추가하세요.


# (9) fruits 리스트에서 "복숭아"를 제거하세요.


# 문제 10 ~ 15
# (10)본인의 이름, 나이, email주소, 취미, 결혼유무를 사전(딕셔너리)으로 생성.
# 취미는 2개 이상의 값을 넣는다..


# (11) 위 딕셔너리에서 이름과 email주소를 조회해서 출력하세요.


# (12) 위 딕셔너리에서 취미중 두번째 취미를 조회해서 출력하세요.


# (13) 위 딕셔너리에 몸무게와 키 항목을 추가하세요.


# (14) 위 딕셔너리에서 email 주소를 다른 값으로 변경하세요.


# (15) 위 딕셔너리에서 나이를 제거하세요.